@import "abstracts/_index.css";

body {
  display: flex;
  flex-direction: column;
}

h1 {
  margin-top: 8px;
}

.logo {
  text-align: center;
}

.terminals {
  display: grid;
  justify-content: center;
  gap: 16px;
  margin-bottom: 16px;
  grid-template-rows: 50px minmax(280px, auto) 240px;
  grid-template-columns: clamp(330px, 65vw, 700px) minmax(180px, 190px);
  grid-template-areas:
    "main status"
    "main nav"
    "main music-log";
  & > *:not(astro-island),
  & > astro-island > div {
    padding: 16px;
    border: 2px solid var(--border-clr-1);
    border-radius: 5px;
    background-color: var(--bg-clr-1);
    position: relative;
    &::before {
      background-color: var(--bg-clr-1);
      border: 2px solid var(--border-clr-1);
      border-radius: 16px;
      width: fit-content;
      height: fit-content;
      padding: 0 8px;
      position: absolute;
      inset: -14px 10px;
      white-space: nowrap;
      font-size: 14px;
    }
  }

  & main {
    grid-area: main;
    &::before {
      content: "Main";
    }
  }

  & astro-island .status {
    grid-area: status;
    padding: 12px;
    text-transform: uppercase;
    text-align: center;
    &::before {
      text-transform: none;
      content: "Status";
    }
  }

  & nav {
    grid-area: nav;
    &:before {
      content: "Navigate";
    }
  }

  & astro-island > .music-log {
    grid-area: music-log;
    &:before {
      content: "Currently Playing";
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .title h2 {
    margin: 0;
  }

  .row-1 {
    display: flex;
    gap: 16px;

    .pfp {
      .pfp-border {
        display: flex;
        border: 1px solid var(--fg-clr-2);
      }
    }

    .info {
      display: flex;
      align-items: center;
      line-height: 1.8rem;
    }
  }

  .row-2 {
    font-size: 1.2rem;
  }
}

nav {
  ul {
    padding: 0;
    li {
      line-height: 1.8rem;
      word-spacing: 4px;
      i {
        text-align: center;
        width: 16px;
      }
    }
  }
}

/* phones */
@media screen and (320px <= width <= 480px) and (orientation: portrait) {
  .terminals {
    margin-bottom: 16px;
    grid-template-columns: 92dvw;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "status"
      "main"
      "nav"
      "music-log";
  }
}
@media screen and (320px <= width <= 480px) and (orientation: landscape) {
  .terminals {
    margin-bottom: 50px;
  }
}
